# IntelliJ Config
.idea

/Users/alexandramcintyre/Desktop/cs1300/study-spot-generator-aemcinty-khluo-moancea-nclarke1/server/src/main/java/edu/brown/cs/student/main/server/resources/firebase_config.json

# Maven
target/
.mvn
.mvn-classpath
pom.xml.bak

# node, vite
node_modules/
client/*.js
target/
build/
dist/
.env
test-results/
playwright-report/
playwright/.cache/


# mac
.DS_Store